@tailwind base;
@tailwind components;
@tailwind utilities;

.category_btn {
  @apply text-slate-600 text-sm text-nowrap uppercase border border-slate-300 duration-200 hover:bg-slate-700 hover:text-white p-2;
}
.btn {
  @apply text-slate-600 text-sm text-nowrap border border-slate-300 duration-200 hover:bg-slate-700 hover:text-white p-2;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.category_container::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.category_container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
